// Text
$font-size = 18px
$line-height = 32px
$font-sans = 'Inter UI', 'SF Pro Text', -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif
$font-mono = 'Roboto Mono', cousine, 'SFMono-Regular', 'Liberation Mono', 'Ubuntu Mono', Consolas, Menlo, Monaco, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', 'Courier New', Courier, monospace

// Color
$color-body = #fffeff
$color-font = #3A3B3C
$color-accent = #2a2734
$color-header = #2a2734
$color-white = white
