// Text
$font-size = 18px
$line-height = 32px
$font-sans = 'SF Pro Text', -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif
$font-mono = 'Roboto Mono', cousine, 'SFMono-Regular', Consolas,Menlo, 'Liberation Mono', 'Ubuntu Mono', Courier, monospace

// Color
$color-body = #fffeff
$color-font = #3A3B3C
$color-accent = dodgerblue
$color-header = #2a2734
$color-white = white
