//---
	title           Ambientes e botando a mão na massa!
	---

include /_components/article-components/index

//----------------------------------------------
//- INICIO DO DOCUMENTO
//----------------------------------------------

:markdown
	## Ambientes
	Agora que você já sabe um pouquinho sobre o python, só falta uma coisa para
	começarmos à brincar com ele: um
	**[Compilador](https://pt.wikipedia.org/wiki/Compilador)**

	> Compilador é um programa de computador que traduz linguas de alto nível,
	> como o python, para uma linguagem que o computador entenda, para então ele
	> executar o que você escreveu

	Enquanto iniciamos, sugerimos o uso do **[repl.it](repl.it)** que é um
	compilador online, super prático, em que você não precisará instalar nem
	configurar nada.

	---

	Agora que já temos um lugar para rodar o que escrevemos, vamos voltar ao
	python. Mais que o simples `2+2` da seção passada, o python também respeita
	*parênteses*, e multiplos parenteses, para ordenar as operações:

		3 + 2 * 6 - 4 + 2 * 4
		19   # resultado


		(3 + 2 * 6 - 4 + 2) * 4
		52   # resultado


		((3 + 2) * (6 - 4) + 2) * 4
		48   # resultado


	## Variáveis

	## Tarefas:


//- +code: include main.py
