include /_components/index
include /_frontmatter/index

-const frontmatter = getFrontmatter(current.path, public)
-const mod = frontmatter.current.__source
-const module = frontmatter.public.modules[mod]
-const moduleArticles = fp.filter({module: mod})(frontmatter.public.articles)
doctype

html(lang='pt')
	head
		title #{site.title} – #{site.description}
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(href='/main.css', rel='stylesheet')
		script(src='https://unpkg.com/feather-icons/dist/feather.min.js')
		link(href='https://rsms.me/inter/inter-ui.css', rel='stylesheet')
		link(href='https://fonts.googleapis.com/css?family=Roboto+Mono' rel='stylesheet')
	body
		+nav()
		if yield
			main.modules-page
				!= yield
		else
			main.container.module-page
				//- +site-header()
				+generic-header(module)
				.articles-list
					for article in moduleArticles
						+article-card(article)


		+footer()

		script.
			feather.replace()
