footer
	font-size: 0.875rem
	line-height: 2rem
	color: rgba(0, 0, 0, 0.5)
	.home &
		margin-top: 4rem

.footer-info
	padding-top: 1.25rem
	padding-bottom: 1.25rem
	border-top: 1px solid rgba(0, 0, 0, 0.1)
	display: flex
	div
		flex 1
	a
		color: currentColor
		:hover
			color: $color-accent
