.article-meta
	display: block
	padding-top: 2rem
	margin-bottom: 5rem
	color: $color-header
	+above(md)
		padding-bottom: 4rem
		color: $color-body
		background: $color-header

	.module, .number
		display: inline-block;
		font-size: 1rem
		margin-right: 1rem
		margin-bottom: 0.5rem
		color: $color-header
		+above(md)
			color: $color-body

	.title
		font-size: 2rem
		line-height: (1*$line-height)
