mixin article-meta(meta)
	-const partentLink = string => string + (fp.last(string) === '/' ? '' : '/') + '..'
	-const {__link, module, number, title} = withNumbers(meta)
	.article-meta
		.container
			if module
				a.module(href=partentLink(__link))=`Módulo — ${module}`
			if module && number
				span.separator /
			if number
				span.number=`Número — ${number}`

			if title
				.title= title
