//---
	title           Variáveis e suas primeiras aplicações
	---

include /_components/article-components/index

//----------------------------------------------
//- INICIO DO DOCUMENTO
//----------------------------------------------

:markdown
	# O que são variáveis

	Assim como na matemática, na computação também temos variáveis. Mas não se
	desespere, diferentemente de lá, não vamos gastar dias e dias, tentando
	"encontrar" o `x`.

	Sim, podemos utilizá-las em operações matemáticas, como:

		a = 2       # 'setei' a variável 'a' para 2
		b = 3       # 'setei' a variável 'b' para 3

		a + 1 + b   # utilizá-las no meio de uma operação

		6           #resultado

	Podemos simplificar as variáveis como uma caixinha, que pode conter alguma
	coisa, e só sabemos quando a abrimos (no caso a utilizamos). E elas não
	precisam necessáriamente conter números, podem conter palavras, frases, e
	outras coisas que veremos pela frente.

	# Primeiras aplicações

	Para utilizarmos as variáveis fora de operações matemáticas, vamos precisar
	saber 2 funçõezinhas básicas do python:

	1. `input(placeholder)`: ela escuta o que é digitado no terminal (placeholder opcional)
	2. `print(toprint)`: ela imprime no terminal o que está dentro dos parenteses

	Agora já podemos fazer um programa que pergunta o seu nome e te cumprimenta:

		# atrela o valor respondido à variável NOME
		NOME = input('Olá, qual seu nome?')

		# imprime uma fras, utilizando o a variável NOME
		print('Prazer em te conhecer, ' + NOME + '!')


	Assim como podemos utilizar a `input` e a `print` para somar textos, podemos
	realizar operações matemáticas

	---

	PS: (variáveis não precisam ser apenas uma letra, elas podem ser qualquer palavra,
	desde que não comece com um número)
