include /_imports

doctype
html(lang='pt')
	head
		title #{site.title} – #{site.description}
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(href='/main.css', rel='stylesheet')
		link(href='https://rsms.me/inter/inter-ui.css', rel='stylesheet')
		link(href='https://fonts.googleapis.com/css?family=Roboto+Mono' rel='stylesheet')
	body.home
		+nav(frontmatter)
		!= yield

		+footer()

		script(src='https://unpkg.com/feather-icons/dist/feather.min.js')
		script(src='/prism.js')
		script.
			feather.replace()
