include /_imports
-const {course} = frontmatter.public

main
		article: .container: .content
			:markdown
				# Sobre o `fac-python`


				> Este é um curso autodirigido idealizado por alunos da Faculdade de
				Comunicação da Universidade de Brasília
