include /_imports
-const {course} = frontmatter.public

main.container
	for module in getSubPages(course)
		+generic-header(module).sticky
		for article in getSubPages(module)
			+article-card(article)
