include /_imports
-const {course} = frontmatter.public

main
	+intro

.container
	for module in getSubPages(course)
		+article-list(module).sticky
		for article in getSubPages(module)
			+article-list-item(article)
