@import '_mixins'
@import '_components'
// @import 'https://rsms.me/inter/inter-ui.css'

body
	box-sizing: border-box
	font-family: $font-sans
	font-size: $font-size
	line-height: $line-height
	text-rendering: optimizeLegibility
	-webkit-font-smoothing: antialiased
	font-smoothing: antialised
	text-rendering: optimizeLegibility
	font-weight: 100
	color: $color-font
	background-color: $color-body
	font-feature-settings: 'kern' 1, 'liga' 1, 'calt' 1, 'pnum' 0, 'tnum' 1, 'onum' 0, 'lnum' 1, 'dlig' 1, 'zero' 1, 'ss01' 1, 'case' 1
	hyphens: auto

a
	text-decoration: none

h3
	text-transform: uppercase
	letter-spacing: 0.5px
	font-size: 15px
	line-height: 2rem
	margin-bottom: 1.5rem
	font-weight: bold

p + p
	margin-top: 1.25rem

main
	padding-top: 5rem
	padding-bottom: 4rem
	+above(md)
		padding-top: 0

strong
	font-weight: bold

article
	overflow: hidden
	width: 100%

.container
	// max-width: 56rem
	max-width: 42rem
	width: 90%
	+above(md)
		width: 80%
	.article-page &
		max-width: 42rem
