.article-list
	display: block
	padding 2rem 0 1rem
	margin-bottom: 1rem
	border-top: 1px solid rgba(0,0,0,0.1)
	color: $color-header
	line-height: 2rem
	font-size: 1rem
	margin-top: 4rem
	:hover, :active, :focus
		color: $color-accent
	:first-child
		margin-top: 0
		border: none

.home .article-list .description
	display: none
