//---
	title           Exercícios
	---

include /_components/article-components/index

//----------------------------------------------
//- INICIO DO DOCUMENTO
//----------------------------------------------

:markdown
	### Hora da prática

	Abaixo seguem exercícios à serem realizados na plataforma
	[URI](https://www.urionlinejudge.com.br/), após o cadastro, você poderá
	submeter soluções para cada problemas, que serão corrigidos em tempo real.
	(uma ótima forma de fixar o conteúdo)

+uri(1001)
+uri(1002)
+uri(1003)
+uri(1004)
+uri(1005)
+uri(1006)
+uri(1007)
+uri(1008)
+uri(1010)
+uri(1011)
+uri(1012)
+uri(1014)
+uri(1015)
+uri(1016)
+uri(1019)
