//---
	title           Listas
	---

include /_components/article-components/index

//----------------------------------------------
//- INICIO DO DOCUMENTO
//----------------------------------------------

:markdown
	> Usar *loops* na programação nos ajuda a automatizar e repetir tarefas
	similares várias vezes.

	Um *loop* de `while` repete a execução do código contido **enquanto** uma
	condição é tida como verdadeira — e *pula* sua execução quando já não mais —
	pode-se dizer que o while é um loop boleano.

		senha = ''                                      # atribui uma variável senha, ainda vazia

		while senha != 'manga rosa':                    # [loop] enquanto a senha não for manga rosa, executar:
		  print('qual a senha? ')                       #      | input pergunta qual a senha
		  senha = input()                               #      | atribui a variável senha o input respondido

		print('password + ' é a senha, pode entrar')    # sai do loop e responde que a senha está correta
