//---
	title           Soluções de Exercícios
	---

include /_components/article-components/index

//----------------------------------------------
//- INICIO DO DOCUMENTO
//----------------------------------------------

:markdown
	Aqui serão postadas as soluções para os exercícios deste módulo

	> Lembrando que há infinitas maneiras de se solucionar um problema, e não
	necessáriamente as postadas aqui serão da *melhor* forma


+uri(1001)
+uri(1002)

hr

+uri(1003)
+code: include 1003.py

hr

+uri(1004)
+uri(1005)
+uri(1006)
+uri(1007)
