//---
	title           Python? O que é e por que aprender
	---

include /_components/article-components/index

//----------------------------------------------
//- INICIO DO DOCUMENTO
//----------------------------------------------

:markdown
	## Primeiramente o que é **Python**?

	De acordo com seu criador [Guido van Rossum](https://github.com/gvanrossum) o
	Python é uma

	> [Linguagem de programação de alto nível](https://pt.wikipedia.org/wiki/Linguagem_de_programa%C3%A7%C3%A3o_de_alto_n%C3%ADvel)
	, sua filosofia básica de design é focada em legibilidade e uma sintaxe que
	permite expressar conceitos em poucas linhas de código

	Então vamos para a 2ª questão:



	## Por que aprender programação

	Além da óbvia questão de obter conhecimentos e do mercado de trabalho, há
	vários motivos para estudantes de comunicação — e talvez qualquer estudante
	de humanas — também aprender a programar:

	* Automatizar tarefas repetitivas

	* Coletar e analizar dados

	* Solucionar problemas matemáticos

	* Impressionar os coleguinhas



	## Então, por que aprender Python?

	Existem dezenas de milhares de linguagens disponíveis, por que logo esta?
	Como dito no início do texto, python tem foco na **facilidade de leitura**, e
	uma **sintaxe** simples

	De fato a sintaxe é tão simples que você pode simplesmente utilizar a notação
	que você usa desde o ensino fundamental para realizar operações básicas como:

		2 + 2  # você digita
		4      # e o computador responde

	E não para por aí, enquanto você avança, a linguagem não se tornará algo super
	complicado, e você conseguirá realizar a maioria das tarefas com poucos
	comandos.

	E aí, mãos à obra? Na próxima seção, você já executará o seu próprio código

	PS: Neste curso utilizaremos a versão 3 do python (**python3**)


	### Referências
	Este curso é apenas uma das formas disponíveis de aprendizado disponíveis na
	internet.

	> há centenas de cursos e sites que tratam do mesmo assunto e,
	provavelmente, e consultá-los é uma forma de assimilar melhor o conteúdo,
	se aprofundar em determinada aplicação e etc.

	Segue uma breve lista de referências:

	* [Youtube: BlankEditor](https://www.youtube.com/channel/UCRjTEkDLPREZNlREZMlotMQ)
	* [The Python Tutorial](https://docs.python.org/3/tutorial/index.html)
	* [Intro to Python for Data-Science](https://www.datacamp.com/courses/intro-to-python-for-data-science?tap_a=5644-dce66f&tap_s=116411-750171)
	* [A Byte of Python](https://python.swaroopch.com/)
	* [Python Tutorials and Courses](https://hackr.io/tutorials/learn-python)

	(fique a vontade para sugerir mais referências por meio do github)
