mixin intro()
	.intro
		.container
			.info
				h1 Computação pra galera de humanas
				h2 Programa de ensino autodirigido de python
			.brands
				a.brand(href='http://unb.br')
					include /assets/unb.svg
				a.brand(href='http://fac.unb.br')
					include /assets/fac.svg
