//---
	title           Boilerplate para Documentos
	module          \01
	number          \02
	---

//----------------------------------------------
//- INICIO DO DOCUMENTO
//----------------------------------------------


:markdown
	# Python program to mail merger

	## Names are in the file names.txt

	### heading 3

	paragraph Donec ullamcorper nulla non metus auctor fringilla. Nullam id dolor
	id nibh ultricies vehicula ut id elit. Etiam porta sem malesuada magna mollis
	euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
	sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.

	````

		# Python program to mail merger
		# Names are in the file names.txt
		# Body of the mail is in body.txt

		# open names.txt for reading
		with open("names.txt",'r',encoding = 'utf-8') as names_file:

			 # open body.txt for reading
			 with open("body.txt",'r',encoding = 'utf-8') as body_file:

					 # read entire content of the body
					 body = body_file.read()

					 # iterate over names
					 for name in names_file:
							 mail = "Hello "+name+body

							 # write the mails to individual files
							 with open(name.strip()+".txt",'w',encoding = 'utf-8') as mail_file:
									 mail_file.write(mail)

	````

	# Python program to mail merger

	## Names are in the file names.txt

	### heading 3

	paragraph Donec ullamcorper nulla non metus auctor fringilla. Nullam id dolor
	id nibh ultricies vehicula ut id elit. Etiam porta sem malesuada magna mollis
	euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
	sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
