.article-list-item
	color: $color-font
	width: 100%
	display: block
	font-size: 1rem
	position: relative
	vertical-align: baseline;
	& + .article-list-item
		margin-top: 1rem
	.number
		color alpha($color-header, 0.7)
		font-size: 0.9em
		letter-spacing: 1px
		font-weight: 500
		opacity: 0.88
