//---
	title           Ambientes e botando a mão na massa!
	---

include /_components/article-components/index

//----------------------------------------------
//- INICIO DO DOCUMENTO
//----------------------------------------------

:markdown
	## Ambientes
	Agora que você já sabe um pouquinho sobre o python, só falta uma coisa para
	começarmos à brincar com ele: um
	**[Compilador](https://pt.wikipedia.org/wiki/Compilador)**

	> Compilador é um programa de computador que traduz linguas de alto nível,
	> como o python, para uma linguagem que o computador entenda, para então ele
	> executar o que você escreveu

	Enquanto iniciamos, sugerimos o uso do **[repl.it](repl.it)** que é um
	compilador online, super prático, em que você não precisará instalar nem
	configurar nada.

	## Tarefa:

	1. Abra o [repl.it](http://repl.it) selecione Python3
	2. Experimente com equações matemáticas
		* ` + ` para somar
		* ` - ` para subtrair
		* ` * ` para multiplicar
		* ` / ` para dividir
		* ` % ` para o módulo da divisão
		* ` () ` pode se usar parenteses
		* ` (()) ` pode cascadear parenteses

	3. Se quiser, crie sua conta para poder salvar seus códigos (é de graça)


	Na próxima seção, entenderemos o que são variáveis e como utilizá-las

//- +code: include main.py
