//---
	title           Criando Funções próprias
	---

include /_components/article-components/index

//----------------------------------------------
//- INICIO DO DOCUMENTO
//----------------------------------------------

:markdown
	# Criando Funções próprias
