//---
	title           Boilerplate para Documentos
	---

include /_components/article-components/index

//----------------------------------------------
//- INICIO DO DOCUMENTO
//----------------------------------------------

:markdown
	# Python program to mail merger

	## Names are in the file names.txt

	### heading 3

	paragraph Donec ullamcorper nulla non metus auctor fringilla. Nullam id dolor
	id nibh ultricies vehicula ut id elit. Etiam porta sem malesuada magna mollis
	euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
	sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.

+code: include main.py

:markdown
	# Python program to mail merger

	## Names are in the file names.txt

	### heading 3

	paragraph Donec ullamcorper nulla non metus auctor fringilla. Nullam id dolor
	id nibh ultricies vehicula ut id elit. Etiam porta sem malesuada magna mollis
	euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
	sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.

